@use 'variables' as *
body
  background-color: #e9e9e9

.App
  text-align: center
  background-color: #FFFFFF
.Footer
  font-size: 0.8em
  padding: 1em
  position: absolute
  bottom: 0
  display: flex
  justify-content: center
  margin: auto
  width: 100vw

.FoodSearch
.note
  position: fixed
  bottom: 0
  right: 0
  padding: 1em
  background: #99ff78
  font-size: 1.5em
  transition: opacity 0.5s
  opacity: 0
.opened
  opacity: 1
.FoodList

  input
    width: 40vw
    background: #3b3b3bee
    color: white
.FoodList-table

  img
    width: 48px
  nav
    font-size: 1.5em

  label
    padding: .2
    font-size: 1.2em
  input

  .section
    display: flex
    flex-direction: column
    margin-top: .8em

    padding: .8em
    background: #363636
    height: 100%

  .container
    margin: 0
    padding: 0
    font-size: 1.5em
    padding-bottom: 1em

    p
      text-align: center
      text-align: center
  .media
    justify-content: center

  canvas
    font-size: 1.3em
  footer
    font-size: .8em
    padding: .9em
    margin: auto
    width: 100vw
    position: fixed
    bottom: 0

@media (min-width: $breakpoint-tablet)

  body
    background-color: #e9e9e9
    .App
      text-align: center

    .navbar

      .logged-ctn
        align-items: center
        display: flex

        p
          padding-right: 1em

      .buttons

      .card
        width: 80%
        margin: auto
        background-color: #e9e9e9

      .ctn-chart
        width: 40%
        margin: auto
      label
        margin-top: .3em
        font-size: 2em
      input
        margin: auto
        width: 80%

      button
        margin-left: .2em
      .section
        display: flex
        flex-direction: row
        align-items: center
        background: #363636
        height: 100vh

      .container
        font-size: 1.5em

  p
    text-align: center
    text-align: center
